.column {
  float: left;
  width: 50%;
}

.column1 {
  float: left;
  width: 40%;
  padding: 10px;
}

.column2 {
  width: 100%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.brc {
  height: 10px;
}

.bucketCount {
  font-size: 25px;
}

.counts {
  font-size: 25px;
}

.exposedCount {
  background-color: rgb(218, 247, 166);
}

.infectedCount {
  background-color: red;
}

.infectedOneCount {
  background-color: rgb(255,87,51);
}

.infectedTwoCount {
  background-color: rgb(144, 12, 63 );
}

.recoveredCount {
  background-color: rgb(200,200,200);
}

.population {
  background-color: rgb(100,100,200);
}

.dayCount {
  color: black;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  font-weight:bold;
  color:rgb(100,200,100);
}​

td, th {
  width:200px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}


button {
  color: white;
  background-color: #5DADE2;
  font-size: 14px;
  border-radius: 25px;
  padding: 10px;
}

h2, h3, h4, th {
  color: #5DADE2;
}

textarea
{
   font-family:"Courier New", Times, serif;
   font-size: 16px;
}
